<script>
    import { onMount } from 'svelte';
    import TopAppBar from '../components/TopAppBar.svelte';
    import TinyPouchDB from '../TinyPouchDB.svelte';
    let books = [];
    import LayoutGrid, { Cell } from '@smui/layout-grid';
    let searchTerm ;
    let filteredBooks = [];
    let first=true;
    onMount(() => {
      const input = document.querySelector('.search-section input');
      input.addEventListener('input', (event) => {
        first=false;
        searchTerm = event.target.value;
        filteredBooks = books.filter(book => book.title.toLowerCase().includes(searchTerm.toLowerCase()));
      });
    });    
</script>

<TopAppBar/>
<TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
<LayoutGrid>
  {#if first ==true}
  {#each books as book}
<Cell span={1}>
<a href="./infosBooks/{book._id.replace(/\//g, '%2F')}?id={book._id}" class="demo-cell">
<img src="data:{book.img.content_type};base64,{book.img.data}" alt="{book.title}" />
</a>
</Cell>
{/each}
{:else}
{#each filteredBooks as book}
<Cell span={1}>
<a href="./infosBooks/{book._id.replace(/\//g, '%2F')}?id={book._id}" class="demo-cell">
<img src="data:{book.img.content_type};base64,{book.img.data}" alt="{book.title}" />
</a>
</Cell>
{/each}
    
  {/if}
  
  </LayoutGrid>

  <style>
    .demo-cell {
      /*height: 60px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mdc-theme-secondary, #333);
      color: var(--mdc-theme-on-secondary, #fff);
    }
  </style>