<script>
    import TopAppBar from '../../../components/TopAppBar.svelte';
    import FormModifyBook from '../../../components/FormModifyBook.svelte';
</script>
<TopAppBar></TopAppBar>
<FormModifyBook></FormModifyBook>
