<script>
    import TinyPouchDB from '../TinyPouchDB.svelte';
    let childCompCaller;
    let id = new URLSearchParams(window.location.search).get("id");
    let books = [];

    function useMyFunctionModify(bookId, author, url, price, title, content_type, filename, data, path){
        childCompCaller.modifyBook(bookId, author, url, price, title, content_type, filename, data, path);
    };

    import { Row } from '@smui/top-app-bar';

    </script>

    <TinyPouchDB bind:documents={books} bind:this={childCompCaller} initsrc="/books.json" collection="books"/>
    <Row>
            {#each books as book}
                {#if book._id == id}
                    <div style="width:40%">

                        <form style="margin-top: 2em; margin-left:2em;" class="form-group mt" method="post" name="formBook" on:submit|preventDefault={
                            useMyFunctionModify(book._id, book.author, book.url, book.price, book.title, book.img.content_type, book.img.filename, book.img.data, book.img.path)}>
                            <label for="title">Titre</label>
                            <input type="text"  bind:value={book.title} required class="form-control"/>
                            <label for="author">Auteur</label>
                            <input type="text" bind:value={book.author} required class="form-control"/>
                            <label for="price">Prix</label>
                            <input type="text"  bind:value={book.price} required class="form-control"/>
                            <label for="url">Lien du livre</label>
                            <input type="text"  bind:value={book.url} required class="form-control"/>
                            <label for="img">Contenu de l'image</label>
                            <input type="text" bind:value={book.img.content_type} required class="form-control"/>
                            <label for="img">Nom de l'image</label>
                            <input type="text" bind:value={book.img.filename} required class="form-control"/>
                            <label for="img">Data de l'image</label>
                            <input type="text" bind:value={book.img.data} required class="form-control"/>
                            <label for="img">Path de l'image</label>
                            <input type="text" bind:value={book.img.path} required class="form-control"/>
                            <button type="submit" style="margin-top: 10px;" class="btn btn-primary" href="/">Valider</button>
                        </form>

                </div>
                
                <img src="data:{book.img.content_type};base64,{book.img.data}"alt="{book.title}" style="width: 150px; height:300px; margin-left:8em; margin-top:5em">
                {/if}
            {/each}

    </Row>