<script>
    import TinyPouchDB from '../TinyPouchDB.svelte';

    let childCompCaller;
    let books = [];
    let data = {
        author:"",
        url:"",
        price:0,
        title:"",
        content_type:"",
        filename:"",
        data:"",
        path:""
    };

    function useMyFunction(book){
        childCompCaller.add_book(book);
    };

    const handleSubmit = (e) => {
        
        let newBook = {
            author:data.author,
            url:data.url,
            _id:data.title,
            price:data.price,
            title:data.title,
            img:{
                content_type:data.content_type,
                filename:data.filename,
                data:data.data,
                path:data.path
            }
        }

        useMyFunction(newBook);

    };

    

</script>
<TinyPouchDB bind:documents={books} bind:this={childCompCaller} initsrc="/books.json" collection="books"></TinyPouchDB>
<div style="width:40%">
    <form style="margin-top: 2em; margin-left:2em;" class="form-group mt" method="post" name="formBook" on:submit|preventDefault={handleSubmit}>
        <label for="title">Titre</label>
        <input type="text"  bind:value={data.title} required class="form-control"/>
        <label for="author">Auteur</label>
        <input type="text" bind:value={data.author} required class="form-control"/>
        <label for="price">Prix</label>
        <input type="text"  bind:value={data.price} required class="form-control"/>
        <label for="url">Lien du livre</label>
        <input type="text"  bind:value={data.url} required class="form-control"/>
        <label for="img">Contenu de l'image</label>
        <input type="text" bind:value={data.content_type} required class="form-control"/>
        <label for="img">Nom de l'image</label>
        <input type="text" bind:value={data.filename} required class="form-control"/>
        <label for="img">Data de l'image</label>
        <input type="text" bind:value={data.data} required class="form-control"/>
        <label for="img">Path de l'image</label>
        <input type="text" bind:value={data.path} required class="form-control"/>
        <button style="margin-top: 10px;" type="submit" class="btn btn-primary" href="/">Valider</button>
    </form>
</div>