<script>
    import TinyPouchDB from '../TinyPouchDB.svelte';
    let childCompCaller;

    function useMyFunction(id){
    childCompCaller.deleteBook(id);
    }
    let id = new URLSearchParams(window.location.search).get("id");
    let books=[];

    import IconButton from '@smui/icon-button';

    </script>

    <TinyPouchDB bind:documents={books} bind:this={childCompCaller} initsrc="/books.json" collection="books"/>


    {#each books as book}
        {#if book._id == id}

            <div style="display:flex; flex-direction:row">
                <div style="margin-left: 20px; display:flex; flex-direction:column">

                    <h2>{book.title}</h2>

                    <a href = '/{book.author}?author={book.author}'>{book.author}</a>

                    <p>{book.price}</p>
                    <p><a href="{book.url}">Lien du livre</a></p>
                    <div style="display: flex; align-items:center; width:8em; justify-content:space-between; ">
                        <button class="btn btn-outline-primary" on:click={useMyFunction(book._id)}>Supprimer</button>
                        <a class="btn btn-outline-primary" href="../../modifyBooks/{book._id.replace(/\//g, '%2F')}?id={book._id}">Modifier</a>
                    </div>
                </div>
                <div style="margin-left: 20px; display:flex; flex-direction:column">
                    <img src="data:{book.img.content_type};base64,{book.img.data}"alt="{book.title}" style="width: 150px; height:300px; margin-left:8em; margin-top:5em">
                </div>
            </div>
        
            

        {/if}
    {/each}