<script>
    let author = new URLSearchParams(window.location.search).get("author");
    let books=[];
    
    import { Row } from '@smui/top-app-bar';
    import LayoutGrid, { Cell } from '@smui/layout-grid';
    import TinyPouchDB from '../TinyPouchDB.svelte';
    
    </script>
    <TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
    
  
    <h1>{author}</h1>
    <LayoutGrid>
            {#each books as book}
            {#if author.toUpperCase().indexOf('TOLKIEN')!=-1  }
                
            
            {#if book.author.toUpperCase().indexOf('TOLKIEN')!=-1 }
            <a href ='/infosBooks/{book._id.replace(/\//g, "%2F")}?id={book._id}'>
                <Row>
                <img src="data:{book.img.content_type};base64,{book.img.data}"alt="{book.title}" >
            </Row>
                    <h2>{book.title}</h2>
        </a>
                    {/if}


            {:else if author.toUpperCase().indexOf('MARTIN')!=-1 }
                {#if book.author.toUpperCase().indexOf('MARTIN')!=-1 }
            
                <a href ='/infosBooks/{book._id.replace(/\//g, "%2F")}?id={book._id}'>
                <Row>
                <img src="data:{book.img.content_type};base64,{book.img.data}"alt="{book.title}" >
                </Row>
                    <h2>{book.title}</h2>
            </a>
                    {/if}
            {:else if book.author == author}
            
            <a href ='/infosBooks/{book._id.replace(/\//g, "%2F")}?id={book._id}'>
                <Row>
                    <img src="data:{book.img.content_type};base64,{book.img.data}"alt="{book.title}" >
                </Row>
                        <h2>{book.title}</h2>
            </a>
            {/if}
            {/each}
        </LayoutGrid>
            
        