<script> import TopAppBar, {
    Row,
    Section,
    Title,
    AutoAdjust,
  } from '@smui/top-app-bar';
  import IconButton from '@smui/icon-button';
  let topAppBar;
  
</script>
<Row>
  <TopAppBar bind:this={topAppBar} variant="fixed" class="mb-1">
    <Row>
      <Section>
        <IconButton class="material-icons" href="/">menu</IconButton>
        <Title>Fixed</Title>
      </Section>
      <Section class="search-section" align="center">
        <input placeholder="Rechercher"/>
      </Section>
      <Section align="end" toolbar>
        <IconButton class="material-icons" aria-label="Download"
          >file_download</IconButton
        >
        <IconButton class="material-icons" aria-label="Add book" href="./add"
        >add</IconButton>
      </Section>
    </Row>
</TopAppBar>
</Row>