<script>
    import TopAppBar from '../../components/TopAppBar.svelte';
    import InfosAuthor from '../../components/infosAuthor.svelte';
</script>

<TopAppBar></TopAppBar>
<InfosAuthor></InfosAuthor>